<div id="pairing-modal" style="display: block;" >
    <div class="head">
      <h3><img id="modalLogo" src="img/smallcodercombat.png"></h3>
    </div>
    <div class="modal-body">
        <p class="congrats">Congratulations, you Won!</p>
        <div id="countdown-container">
            <div id="new-match"> A New Match will Begin in... </div>
            <div id="countdown"> 
                <span id="timer"></span>
            </div>
            <div id="or"> Or </div>
            <div id="new-opponent"> Find New Opponent </div>
        </div>
    </div>
</div>