<div id="pairing-modal" style="display: block;" >
    <div class="head">
      <h3><img id="modalLogo" src="img/smallcodercombat.png"></h3>
    </div>
    <div class="modal-body">
        <p class="center">Finding you an enemy...</p>
        <div class="loading-container center">
          <img src="../img/loadingGif.gif" class="loading-img center">
        </div>
        <div id="aboutCCModal">About Coder Combat</div>
        <div id="aboutTextModal">
            Coder Combat is a real time one on one programming competition over the web. It attempts to simulate the emotions felt in a technical interview while also improving your programming skills. 
        </div>
    </div>
</div>