<div id="pairing-modal" style="display: block;" >
    <div class="head">
      <h3><img id='modalLogo' src="img/smallcodercombat.png"></h3>
    </div>
    <div class="modal-body">
        <p class="congrats">Congratulations, you Won!</p>
        <div id="countdown-container">
            <div id='newMatch'> A New Match will Begin in... </div>
            <div id='countdown'> 
              <script> 
              var count = 10;
              var counter = setInterval(timer, 1000);
                function timer(){
                    count -= 1;
                    if (count <= 0){
                     clearInterval(counter);
                     return;
                    }
                    document.getElementById("timer").innerHTML = count;
                }
                </script>
                <span id='timer'></span>
            </div>
            <div id='or'> Or </div>
            <div id='button2'> Find New Opponnent </div>
        </div>
    </div>
</div>