<div id="pairing-modal" style="display: block;" >
    <div class="head">
      <h3><img id='modalLogo' src="img/smallcodercombat.png"></h3>
    </div>
    <div class="modal-body">
        <p class="congrats">Sorry. You Lost, Loser.</p>
        <div id="countdown-container">
            <div id='newMatch'> A New Match will Begin in... </div>
            <div id='countdown'> 3 </div>
            <div id='or'> Or </div>
            <div id='button2'> Find New Opponnent </div>
        </div>
    </div>
</div>