<div id="pairing-modal" class="test" style="display: block;" >
    <div class="head">
      <h3>Welcome to CoderCombat</h3>
    </div>
    <div class="modal-body">
        <p class="center">Finding you a partner...</p>
        <div class="loading-container center">
          <img src="../img/loading.gif" class="loading-img center">
        </div>
        <p>&nbsp;</p>
        <h4>About CoderCombat</h4>
        <p>Underscoreboard is a realtime coding game where players try to implement an Underscore (a JavaScript library) function faster than their opponent. Players get realtime feedback in the form of a test suite that updates as they type. Make all the tests pass to win!</p>
        <p>If you're just here to check it out, click <a href="http://codercombat.com" ,="" target="_blank">here</a> to open a second tab to play by yourself.
        </p>
    </div>
</div>
