<div id="pairing-modal" style="display: block;" >
    <div class="head">
      <h3>Welcome to Coder Combat</h3>
    </div>
    <div class="modal-body">
        <p class="center">Finding you an enemy...</p>
        <div class="loading-container center">
          <img src="../img/loading.gif" class="loading-img center">
        </div>
        <div id="aboutCCModal">About Coder Combat</div>
        <div id="aboutTextModal">
            Pede metus facilisis, repellat auctor netus aliquet ad harum temporibus quam enim. Massa, rem minim? Laudantium eius natoque sollicitudin et. Nemo! Molestias voluptas dolore, tempus qui, vero? Labore pharetra occaecati lorem semper? Diamlorem exercitation eligendi nisl mollitia sagittis quae iste, libero aenean dapibus saepe suscipit molestie. Occaecati incididunt bibendum distinctio rhoncus ipsum?
        </div>
    </div>
</div>